@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  padding: 100px 120px;
  padding-bottom: 70px;
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body header {
  width: 100%;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body header img {
  width: 17%;
}
body main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
body main img {
  width: 55%;
}
body main .chamada {
  width: 40%;
}
body main .chamada h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 70px;
  margin-top: 70px;
}
body main .chamada p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ddd;
  font-size: 32px;
  margin: 40px 0px;
}
body main .chamada button {
  padding: 25px 120px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 50px;
  color: hsl(257, 40%, 49%);
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 32px;
  margin-top: 20px;
}
body main .chamada button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}
body footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
body footer .attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
body footer .attribution a {
  color: hsl(228, 45%, 44%);
}
body footer .redes-sociais {
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .redes-sociais svg {
  width: 80px;
  height: 80px;
  padding: 20px;
  fill: white;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
body footer .redes-sociais svg:hover {
  fill: hsl(300, 69%, 71%);
  border: 2px solid hsl(300, 69%, 71%);
}
@media screen and (max-width: 376px) {
  body {
    padding: 30px;
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  body header {
    margin-bottom: 40px;
  }
  body header img {
    width: 40%;
  }
  body main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main img {
    width: 90%;
  }
  body main .chamada {
    width: 100%;
    text-align: center;
  }
  body main .chamada h1 {
    font-size: 28px;
  }
  body main .chamada p {
    font-size: 16.5px;
    margin: 20px 0px;
  }
  body main .chamada button {
    padding: 10px 65px;
    font-size: 16.5px;
    margin: 0;
  }
  body footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body footer .redes-sociais {
    width: 50%;
    justify-content: space-between;
    margin: 20px 0px;
  }
  body footer .redes-sociais svg {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  body footer .attribution {
    position: relative;
    bottom: 0;
  }
}
